<% include partials/_header_tecnico %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                          
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><%= user.username %></a></h2>
                                
                            </div>
                            <div class="container">
                                <div class="btn-block float-right">
                                    
                                    <a href="/updateperfil_te/<%= data.id_personal %>" class="btn btn-warning float-right btn-sm" ><i class='fas fa-edit' style='font-size:25px'></i> Editar</a>
                                     
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Informacion basica</a>
                                </li>
                              
                            </ul>
                            
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                    

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Nombre completo</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            <%= data.nombre%> <%= data.ap_paterno%> <%= data.ap_materno%>
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Clave de personal</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            <%= data.clave_personal%>
                                        </div>
                                    </div>
                                    <hr />
                                    
                                    
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Tipo de usuario</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            <%= data.tipo_usuario%>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Pregunta secreta</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            <%= data.nom_preguntas%>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Respuesta secreta</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            <%= data.respuesta_secreta%>
                                        </div>
                                    </div>
                                    <hr/>

                                </div>
                               
                              
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<% include partials/_footer_tecnico %>
